.icon-header{
    color: white;
}
.icon-header:hover{
    color: var(--main-colar);
}
.icon-header:scope{
 background-color: crimson;
}
#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
   background-color: var(--main-colar);
}
svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}
.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    vertical-align: -0.125em;
    overflow: visible;
}
/* end header  */
/* Start Bootstrap */
.bootstrap {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
    background-color: var(--main-colar);
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bootstrap .bootstrap-img {
    width: 15rem;
}
.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}
.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: currentColor;
    border-radius: 1rem;
    border-color: white;
}
/* end Bootstrap */
.portfolio-all{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    align-items: center;
    text-align: center;
    /* gap: 30px; */
}
.portfolio-all .portfolio-icon{
    position: relative;
}
.portfolio-all .portfolio-icon:hover .portfolio-icon-text{
    visibility: visible;
}
.portfolio-all .portfolio-icon img{
    width:350px;
}
.portfolio-all .portfolio-icon:hover img{
    opacity: 10%
}
.portfolio-icon-text{
    position: absolute;
    margin: 3% -237px;
    color: white;
    font-size: 120px;
    font-weight: 900;
    visibility: hidden;
}
.portfolio-half{
    margin-bottom: 50px;
    padding-bottom: 0;
}
.portfolio-half:hover{
    box-shadow: inset 350px 0px 0 0 var(--main-colar);
}

@media  (max-width:360px){
   .portfolio-all .portfolio-icon img{
       max-width: 290px;
  }
}
@media (min-width: 331px), (max-width:375px){
    .portfolio-all .portfolio-icon img{
         margin-left: 5px;
        width: 340px;
   }
 }