.icon-header{
    color: white;
}
.icon-header:hover{
    color: var(--main-colar);
}
.icon-header:scope{
 background-color: crimson;
}
#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
   background-color: var(--main-colar);
}
svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}
.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    vertical-align: -0.125em;
    overflow: visible;
}
/* end header  */
/* Start Bootstrap */
.bootstrap {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
    background-color: var(--main-colar);
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bootstrap .bootstrap-img {
    width: 15rem;
}
.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}
.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: currentColor;
    border-radius: 1rem;
    border-color: white;
}
/* end Bootstrap */
